{
    "presets": [
      [ "@babel/preset-env", {
          "targets": "last 2 Firefox versions"
        }
      ],
      "@babel/preset-react"
    ],
    "plugins": [
      "transform-async-functions"
    ]
}
