/kaldi
/kaldi_git.tar.gz
/clapack-wasm.tar.gz
/clapack-wasm
*.gz
clapack
custom_models
dist
dummy_serv/public
node_modules
src/computations
src/computations/kaldiJS.js
src/computations/kaldiJS.wasm
src/computations/resampleTo16bint.js
src/computations/resampleTo16bint.wasm
a.out
